.social{
  background: #F9F9F9;

  &-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 96px;
  }

  &__text{
    margin-bottom: 20px;
  }

  &__list{
    display: flex;
  }

  &__item{
    border: 1px solid #cfcfcf;
    margin-right: 15px;
    border-radius: 48px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__link{
    padding: 11px 20px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
  }

  &__ico{
    margin-right: 11px;
  }
}